[Desktop Entry]
Name=GNUSim8085
Comment=GNUSim8085 - 8085 Microprocessor simulator
Comment[pl]=GNUSim8085 - Symulator Mikroprocesora 8085
Exec=gnusim8085
Icon=gnusim8085_icon
Terminal=false
Type=Application
Categories=GTK;GNOME;Utility;Emulator;
# vi: encoding=utf-8
